@font-face {
    font-family: Zalando;
    src: url(src/font/Zalando_Sans/ZalandoSans-VariableFont_wdth\wght.ttf);
}

@font-face {
    font-family: Source Serif;
    src: url(src/font/Source_Serif_4/SourceSerif4-VariableFont_opsz\wght.ttf);
}

:root {
    --font: "Zalando", Arial, Helvetica, sans-serif;
    --font-serif: "Source Serif", Georgia, serif;
    --text-light: #f0f0f0;
    --text-dark: #1a1a1a;
    --primary-color: #ff8800;
    --secondary-color: #008f2b;
    --background-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: var(--font);
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    z-index: 1000;
    transition: all 0.3s;
}

nav.scrolled {
    background-color: rgba(30, 30, 30, 0.75);
    height: 10vh;
    transition: all 0.3s;
}

nav img {
    height: 60%;
    cursor: pointer;
}

nav.scrolled img {
    height: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-light);
    font-family: var(--font);
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--primary-color);
}

nav ul li span {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.25rem;
}

nav button {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid var(--text-light);
    border-radius: 15px;
    color: var(--text-light);
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s;
}

nav.scrolled button {
    font-size: 1rem;
    transition: all 0.3s;
}

nav button:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    transition: all 0.3s;
}

section {
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
}

.landing {
    background: url(src/bg_3.jpg) center/cover no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5%;
    color: var(--text-light);
}

.landing h1 {
    font-family: var(--font-serif);
    font-size: 5rem;
    margin-bottom: 2vh;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.landing h2 {
    font-size: 2rem;
    margin-bottom: 1.5vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.landing button {
    width: 15vw;
    padding: 10px 0;
    margin-bottom: 1.5vh;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid var(--text-light);
    border-radius: 25px;
    color: var(--text-light);
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.3s;
}

.landing button:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    transition: all 0.3s;
}

.landing div {
    display: flex;
    gap: 20px;
    padding-left: 0.5vw;
}

.landing div a img {
    width: 45px;
    height: 45px;
    cursor: pointer;
    transition: transform 0.3s;
}

.landing div a img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10vh;
}

.about .person {
    display: flex;
    gap: 10vw;
    align-items: center;
    padding: 0 10% 0 5%;
    margin-bottom: 10vh;
    text-align: justify;
}

.about .person .infos h2 {
    font-size: 2rem;
    margin-bottom: 5vh;
    color: var(--text-dark);
}

.about .person .infos p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--text-dark);
}

.about .person img {
    position: relative;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 3.5px solid var(--primary-color);
}
