@font-face {
    font-family: Zalando;
    src: url(src/font/Zalando_Sans/ZalandoSans-VariableFont_wdth\wght.ttf);
}

@font-face {
    font-family: Source Serif;
    src: url(src/font/Source_Serif_4/SourceSerif4-VariableFont_opsz\wght.ttf);
}

:root {
    --font: "Zalando", Arial, Helvetica, sans-serif;
    --text-light: #f0f0f0;
    --text-dark: #1a1a1a;
    --primary-color: #ff8800;
    --secondary-color: #008f2b;
    --background-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: var(--font);
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    z-index: 1000;
    transition: all 0.3s;
}

nav.scrolled {
    background-color: rgba(30, 30, 30, 0.75);
    height: 10vh;
    transition: all 0.3s;
}

nav img {
    height: 60%;
    cursor: pointer;
}

nav.scrolled img {
    height: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-light);
    font-family: var(--font);
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--primary-color);
}

nav ul li span {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.25rem;
}

nav button {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid var(--text-light);
    border-radius: 15px;
    color: var(--text-light);
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s;
}

nav.scrolled button {
    font-size: 1rem;
    transition: all 0.3s;
}

nav button:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    transition: all 0.3s;
}

section {
    width: 100%;
    height: 100vh;
}

.landing {
    background: url(src/bg_3.jpg) center/cover no-repeat;
}
